body {
    font-family: Arial, sans-serif;
    line-height: 1.0;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.table-title{
    padding: 5px;
}

.main-content {
    display: flex;
    margin-top: 10px;
}

.file-upload {
    background-color: white;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    align-items: 'stretch';
}


.job-list {
    flex: 1;
    margin-right: 20px;
}

.job-details {
    flex: 1;
}

.job-details p {
    font-size: 10px;
    line-height: 1.0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.action-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

#assign-result {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#assign-uncodable {
    background-color: #f4a536;
    color: white;
    border: none;
}

#downloadButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#clear-all {
    background-color: #f44336;
    color: white;
    border: none;
}

#fetch-results {
    background-color: #008CBA;
    color: white;
    border: none;
}

#fetch-one-result {
    background-color: #008CBA;
    color: white;
    border: none;
}

#results {
    /* margin-top: 20px; */
    flex: 1;
}

#results-table {
    width: 100%;
    background-color: #ffffff;
}

#results-table td, #results-table th {
    padding: 8px;
    border: 1px solid #ddd;
}

/* #results-table tr:nth-child(even) {
    background-color: #f2f2f2;
} */


#job-table {
    width: 100%;
    background-color: white
}

#job-table tbody tr {
    cursor: pointer;
}

#job-table tbody tr:hover {
    background-color: #f5f5f5;
}

table.dataTable tbody tr.selected {
    background-color: #89a3d7 !important;
}

.job-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edit-input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.edit-buttons {
    display: flex;
    gap: 0.5rem;
}

.edit-btn, .ok-btn, .cancel-btn {
    padding: 0.5rem 1rem;
}
