[project]
name = "classifai"
description = "An AI-assisted flexible tool for different classification tasks."
authors = [
    { name = "Data Science Campus", email = "datasciencecampus@ons.gov.uk" }
]
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.10"
dynamic = ["version"]
dependencies = [
    "pyprojroot==0.3.0",
    "fastapi>=0.111.0",
    "toml>=0.10.2",
    "astroid>=2.3.3",
    "chromadb>=0.4.22",
    "Click>=7.0",
    "colorama>=0.4.3",
    "fastapi>=0.111.0",
    "google-generativeai>=0.7.0",
    "google-cloud-secret-manager>=2.20.2",
    "gunicorn>=20.0.4",
    "h11>=0.9.0",
    "isort>=4.3.21",
    "langchain-community>=0.2.7",
    "langchain-google-vertexai>=1.0.8",
    "lazy-object-proxy>=1.4.3",
    "mccabe>=0.6.1",
    "pandas>=2.2.2",
    "polars>=1.0.0",
    "pydantic>=1.4",
    "pylint>=2.4.4",
    "python-dotenv>=1.0.1",
    "python-multipart>=0.0.9",
    "six>=1.14.0",
    "starlette>=0.12.9",
    "toml>=0.10.2",
    "uvicorn>=0.11.2",
    "websockets>=8.1",
    "wrapt>=1.11.2",
]


[build-system]
requires = ["setuptools>=69"]
build-backend = "setuptools.build_meta"

[project.optional-dependencies]
test = [
    "hypothesis>=6.98.6",
    "pytest>=8.0.0",
    "pytest-cov>=4.1.0",
    "pytest-randomly>=3.15.0",
    "openpyxl>=3.1.5",
    # "python-dateutil>=2.9.0",
]
dev = [
    "pre-commit==3.3.3",
    "ruff==0.3.0",
    "classifai[test]",
]

[tool.ruff]
line-length = 79

[tool.ruff.lint]
extend-select = ["D", "I", "W"]
ignore = ["D105", "D107", "D202"]

[tool.ruff.lint.isort]
known-first-party = ["classifai"]

[tool.ruff.lint.pydocstyle]
convention = "numpy"
