{% extends "base.html" %}

{% block title %}Standard Industry Classification (SIC) Coding Tool{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">
<!-- <link href="https://cdn.datatables.net/keytable/2.12.1/css/keyTable.dataTables.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.min.css"> -->
<link rel="stylesheet" href="https://cdn.datatables.net/select/2.0.4/css/select.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<section class="ons-tabs">
  <h2 class="ons-tabs__title ons-u-fs-r--b
          ons-u-mt-no ons-u-fs-m">Contents</h2>
  <div>
    <ul class="ons-tabs__list">
      <li class="ons-tab__list-item">
        <a href="#instructions" class="ons-tab">Instructions</a>
      </li>
      <li class="ons-tab__list-item">
        <a href="#upload" class="ons-tab">Set-up</a>
      </li>
      <li class="ons-tab__list-item">
        <a href="#coding" class="ons-tab">Interactive coding</a>
      </li>
      <li class="ons-tab__list-item">
        <a href="#single-search" class="ons-tab">Single search</a>
      </li>
    </ul>
  </div>
  <section id="instructions" class="ons-tabs__panel">
    <p>This tool allows you to sort and code survey responses by standard statistical code. Select a response to the
      occupation survey on the left, and see more details from the survey on the right. At bottom right, you can choose
      from codes returned by the semantic embedding tool.</p>
    <br>
    <p>The tool has a set of keyboard shortcuts for efficient coding.</p>
    <br>
    <table id="shortcuts-table" class="ons-table ons-table--">
      <caption class="ons-table__caption"> Keyboard shortcuts </caption>
      <thead class="ons-table__head">
        <tr class="ons-table__row">
          <th scope="col" class="ons-table__header">
            <span class="ons-table__header-text">Key combination</span>
          </th>
          <th scope="col" class="ons-table__header">
            <span class="ons-table__header-text">Action</span>
          </th>
        </tr>
      </thead>
      <tbody class="ons-table__body">
        <tr class="ons-table__row">
          <td class="ons-table__cell"> ENTER OR ARROW-DOWN OR 'J' </td>
          <td class="ons-table__cell"> Move down one record/result. </td>
        </tr>
        <tr class="ons-table__row">
          <td class="ons-table__cell"> SHIFT+ENTER OR ARROW-UP OR 'K' </td>
          <td class="ons-table__cell"> Move up one record/result. </td>
        </tr>
        <tr class="ons-table__row">
          <td class="ons-table__cell"> ARROW-LEFT/RIGHT OR 'H' OR 'L' </td>
          <td class="ons-table__cell"> Switch focus between records and results tables. </td>
        </tr>
        <tr class="ons-table__row">
          <td class="ons-table__cell"> 'Y' </td>
          <td class="ons-table__cell"> Assign selected result to record. </td>
        </tr>
        <tr class="ons-table__row">
          <td class="ons-table__cell"> 'U' </td>
          <td class="ons-table__cell"> Assign uncodable to record. </td>
        </tr>
        <tr class="ons-table__row">
          <td class="ons-table__cell"> 'N' </td>
          <td class="ons-table__cell"> Clear assignment from record. </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="upload" class="ons-tabs__panel">
    <div>
      <input type="file" id="input-file" accept=".in,.txt,.IN">
      <button id="downloadButton">Download results</button>
      <button id="fetch-results">Re-search all</button>
      <button id="clear-all" class="btn btn-danger">Clear All</button>
    </div>
    <br>
    <div class="ons-fieldset">
      <h1>Autocoding:</h1>
      <div class="ons-field">
        <label class="ons-label" for="autocode-max-distance">Threshold score</label>
        <input type="text" id="autocode-max-distance"
          class="ons-input ons-input--text ons-input-type__input ons-input-number--w-6" pattern="[0-9.]*"
          inputmode="numeric" autocomplete="off" value="0.5" />
      </div>
      <div class="ons-field">
        <label class="ons-label" for="autocode-min-diff">Minimum difference</label>
        <input type="text" id="autocode-min-diff"
          class="ons-input ons-input--text ons-input-type__input ons-input-number--w-6" pattern="[0-9.]*"
          inputmode="numeric" autocomplete="off" value="0.01" />
      </div>
      <div class="ons-field">
        <button class="ons-btn" id="autocode-btn">
          <span class="ons-btn__inner"><span class="ons-btn__text">Autocode</span></span>
        </button>
      </div>
    </div>
  </section>
  <section id="coding" class="ons-tabs__panel">
    <div class="main-content">
      <div class="config-section">
        <div class="action-buttons">
          <button id="assign-result">Assign</button>
          <button id="assign-uncodable">Un-codable</button>
          <button id="fetch-one-result">Re-search</button>
          <button id="toggle-coded-rows">Toggle Coded Rows</button>
        </div>
        <div id="job-details">
          <!-- job details will be inserted here -->
        </div>
      </div>
      <div class="data-section">
        <div class="job-list">
          <!-- <h3 class="table-title">Data to be coded:</h3> -->
          <table id="job-table">
            <!--Job entries will be inserted here-->
          </table>
        </div>
        <div id="results">
          <table id="results-table">
            <!-- code results will be displayed here -->
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="single-search" class="ons-tabs__panel">
    <p>Under construction</p>
  </section>
</section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
<!-- <script src="https://cdn.datatables.net/keytable/2.12.1/js/dataTables.keyTable.min.js"></script>
<script src="https://cdn.datatables.net/keytable/2.12.1/js/keyTable.dataTables.js"></script> -->
<script src="https://cdn.datatables.net/select/2.0.4/js/dataTables.select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script type='module' src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
